doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Hello World

  link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Slide 1

      section
        h1 Slide 2
        ul
          li This
          li Slide
          li Has
          li Bullets

      section(data-bespoke-state='code')
        pre
          code.language-javascript.
            var slide = 3;

      section
        h1 Slide 4
        input(type='text', placeholder='This slide has a textbox...', style='width: 150px')

    script(src='build/build.js')
